*{
    margin:0 auto;
    box-sizing:border-box;
}

body{
    background-color: #0c0c0c;
}

:root{
    --gold:#c6a15b;
    --gold-t:rgba(198, 161, 91, 0.11);
    --dot:#272727;
    --dot-border:transparent;
    --header-line:#2f2f2f;
    --header-dots:white;
    --bgc-mix:#151515;
}

.bgi{
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
}

.text{
    font-family:"Source Sans Pro";
    color:white;
    text-transform: uppercase;
}

.montserrat{
    font-family:"Montserrat";
    color:white;
}

.header{                        /*text header*/
    font-weight:900;
    font-size:6em;
}

.block{
    /*scroll-margin-top: 100vh;*/
    /*scroll-padding:100vh;*/
    /*scroll-margin-bottom: 100vh;*/
    /*scroll-snap-align: start;*/
    /*scroll-snap-stop: normal;*/
    /*scroll-snap-type: y mandatory;*/
    transition: transform 1s,opacity 2s;
}

.inherit{
    position:inherit;
    /*opacity:0.5*/
    transform: scale(.5);
}

.sticky{
    position:sticky !important;
    left:0;
    top:0;
    opacity:1;
    transform: scale(1);
}

header{
    height: 100vh;
    width: 50px;
    position: fixed;
    z-index: 3;
    right: 5%;
    top: 0;
}

.dot{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 50px;
    width: 50px;
    background-color: var(--dot-border);
    box-shadow:0px 0px 10px 5px var(--dot-border);
    border-radius:50%;
    margin-top:2vh;
    transition:background-color 1s, box-shadow 1s;
    cursor:pointer;
}

.dot:hover{
    background-color: var(--gold-t);
    box-shadow:0px 0px 10px 5px var(--gold-t);
}



.cats{
    display:flex;
    justify-content:right;
    align-items:center;
    flex-wrap:wrap;
    width: 70%;
    height: 50%;
}


.cats-line{
    background-color: var(--gold);
    height:3px;
    margin-right:0;
}



.cats-top{
    width: 100%;
}

.cats-middle{
    width: 70%;
}
.cats-bottom{
    width: 90%;
}

.line{
    max-width: 1px;
    margin-top:2vh;
    height:calc(100vh - 100px);
    background-color: var(--header-line);
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    position: relative;
}

.list-header{
    position: absolute;
    height: 100%;
    right: 0;
    min-width: 500%;
    color: wheat;
    font-family: "Montserrat";
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.list-header-each{
    width: 150%;
    padding: 10px 15px;
    margin-left: -30px;
    border: 1px solid #272727;
    cursor:pointer;
    transition: background-color .5s;
}

.list-header-each:hover{
    background-color: #424242;
    color:white;
}


.points{
    min-width: 15px;
    max-width:15px;
    height: 15px;
    background-color: white;
    border-radius:50%;
    z-index:5;
    border:2px solid transparent;
    transition:box-shadow .5s, margin .5s;
    cursor:pointer;
}

.points:nth-child(1){
    margin-top:30px;
}

.points:hover{
    box-shadow:0px 0px 10px 15px var(--dot);
}


.first-block,
.second-block,
.third-block{
    height:100vh;
    width:100%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.background{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
}


                    /*Image block */
.first{
    background-image: url(./images/bg.png);
}

.second{
    background-image: url(./images/bg3.png);
}

                    /*End of block*/

.background-image{

    background-color: var(--bgc-mix);
    background-blend-mode: color-dodge;
    width: 100%;
    height: 100%;
    z-index:1;
    position:absolute;
    filter:contrast(1.05);
}

.descr{
    z-index:2;
}
.descr>h1{
    margin-left:0;
}

.descr>span{
    letter-spacing:.7em;
    width: 100%;
}

.descr-line{
    outline:2px solid var(--gold);
    width: 75%;
    margin-left:0;
}

.second-block>span,
.third-block>span{
    position:absolute;
    left:2em;
    top:2em;
    z-index:5;
    color:white;
    font-family:'Gugi';
    font-weight:900;
    font-size:2em;
    letter-spacing:.1em;
}

.flex{
    display:flex;
}

.wrap{
    flex-wrap:wrap;
}

.grid{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:left;
    height: 70%;
    overflow: auto;
}

.w80{
    width: 80%;
}

.image-each{
    width: 20%;
    max-height: 300px;
    object-fit:cover;
    margin:0;
}

.descr-left,
.descr-right{
    width:50%;
}

.descr-right{
    margin-top:3em;
}

.social{
    position: absolute;
    display:flex;
    left:5em;
    bottom:3em;
    z-index:10;
}

.social>a>*{
    height: 40px;
    width: 40px;
    margin:10px;
    border-radius:12px;
    /*border:1px solid white;*/
    transition:background-image .5s, transform .5s;
}

.inst{
    background-image: url(./images/inst.png);

}

.inst:hover{
    background-image: url(./images/inst-hover1.png);
    transform:scale(1.05);
    border:1px solid #0c0c0c;
}

.facebook{
    background-image: url(./images/fb.png);
    border:1px solid white;
}

.facebook:hover{
    background-image: url(./images/fb-hover2.png);
    border:1px solid gray;
}

.phone{
    background-image: url(./images/phone2.png);
    border:1px solid white;
}

.phone:hover{
    background-image: url(./images/phone-hover.png);
    border:1px solid gray;
}

.whatsapp{
    background-image: url(./images/wa1.png);
}

.whatsapp:hover{
    background-image: url(./images/wa2.png);
}


                                                /*Vue transition block*/

.list-header-enter-active,
.list-header-leave-active{
    transform:scale(1);
    opacity:1;
    transition:transform .5s,opacity 2s;
}

.list-header-enter,
.list-header-leave-to{
    transform:scale(0);
    opacity:0;
}

                                                    /*End of Vue transition block*/

@media screen and (max-width:1024px){

    .flex{
        flex-wrap:wrap;
    }

    .image-each{
        width:50%;
    }

    .descr-left, .descr-right {
        width: 90%;
    }

}

@media screen and (max-width:768px){
    .image-each{
        width:90%;
    }
}

@media screen and (max-width:425px){

    .text{
        font-size:1em;
    }

    .header{
        font-size:3em;
    }

    .points{
        min-width: 25px;
        max-width: 25px;
        height: 25px;
    }

    .flex{
        flex-wrap:wrap;
    }

    .descr-left, .descr-right {
        width: 90%;
    }
}