@font-face {
    font-family: 'Marck Script';
    src: local('Marck Script'), local('MarckScript-Regular'), url('marckscript.woff2') format('woff2'), url('marckscript.woff') format('woff'), url('marckscript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root{
    --font:'Montserrat Alternates';
    --head-font:'Marck Script';
    --color-red:#fb5231;
    --color-white:white;
    --ing-width:70%;
}
*{
    margin:0 auto;
}

.red-header{
    color:var(--color-red);
    font-size: 36px;
}
.normalize-bgi{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text{
    font-family:var(--font);
}

.headers-text{
    font-family:var(--head-font);
}

.header-wrapper{
    display:flex;
    flex-wrap:nowrap;
    position:fixed;
    top: 0;
    padding-top:1em;
    width:100%;
    background-image: linear-gradient(to bottom,#131313 0%,transparent 100%);
    z-index: 10;
}

.header-logo{
    height: 5em;
}

.header-navigation-item:hover{
    color:var(--color-red);
}

.header-navigation{
    color:white;
    width: 60%;
    display: flex;
    margin-top: 1em;
    cursor:pointer;
}

.slider{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #1a1f3b;
}

.slider-img{
    position: absolute;
    display: flex;
    
}

.slider-images{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    
    opacity: 0.4;
}
.slider-wrapp{
    width:40%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    text-align: center;
    margin-top: 5%;
    cursor:default;
    z-index: 1;
}

.slider-text{
    color:white;
    font-size:80px;
    width:100%;
}

.slider-divider{
    margin:0 30%;
}

.slider-button{
    width:230px;
    height:60px;
    color:white;
    background-color: #ffffff38;
    border:1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.slider-button:hover{
    background-color: var(--color-red);
}

.about{
    position:relative;
    height:800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-wrapp{
    width:100%;
    height:800px;
    background-image: url(images/promo/background-image.png);
    position: absolute;
    opacity:.6;
}

.overlay{
    width:30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.about-descr{
    color:var(--color-red);
    font-size:2em;
    width:100%;
    text-align:center;
}

.divider{
    margin: 1em auto;
}

.about-text{
    min-height:120px;
    text-align: center;
    font-size:1.2em;
    margin:1em auto;
}

.presenter{
    width:250px;
}
.ingridients{
    background-color: #f1f1f1;
    display: flex;
}

.ingridients-left-image{
    background-image: url(images/ingridients/left-side.jpg);
    min-height:800px;
    width:60%;
    margin: 0;
}
.ingridients-descr{
    display: flex;
    justify-content: center;
    align-items:center;
    width:30%;
    background-image: url(images/ingridients/bg.png);
    margin-left: 0;
}

.ingridients-descr-wrapp{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.ingridients-text{
    color:white;
    width:var(--ing-width);
}

.ingridients-divider{
    margin:0 auto;    
}

.ingridients-images{
    width:var(--ing-width);
    display: flex;
}

.ingridient-image-each{
    width:30%;
    height:100%;
    border-radius:50% 50%;
    border:5px solid #cf7468;
}

.menu{
    background-color: #1a1f3b;
    position: relative;
    min-height:800px;
/*    display: flex;*/
    display: block;
    float: right;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.menu-bg{
    position: absolute;
    z-index: 0;
}

.first-menu-bg{
    left: 10%;
    top:40%;
}

.second-menu-bg{
    right: 20%;
    top:10%
}

.category{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:35%;
    color:white;
    text-align: center;
    float:left;
    padding-left: 10%;
}

.menu-desc{
    width:100%;
    font-size:36px;
    line-height: 24px;
    font-weight: 400;
}

.item-wrapp{
    width:100%;
    min-height:80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom:1px solid var(--color-red);
    margin: 1em;
}

.category:nth-child(even){
    margin-left:0;
}
.category:nth-child(odd){
    margin-right:0;
}

.category{
    padding-top:2em;
}

.item-name{
    width:40%;
    text-align:left;
    margin-left:0;
}

.item-price{
    width:30%;
    text-align:right;
}

.item-name,
.item-price{
    font-size:1.5em;
    font-style: oblique;
}

.item-description{
    width:100%;
    text-align: left;
    padding:0em 1em 0em 1em;
    font-size:.9em;
}
.special{
    font-size: 10px;
    width: 60px;
    height: auto;
    padding: .5em;
    border-radius: 2%;
    background-color: var(--color-red);
    display: flex;
    align-items: center;
}

.reviews{
    width:100%;
/*    height: 800px;*/
    z-index: 10000;
    clear:both;
/*    background-color: red;*/
}

.reviews-wrapp{
    width:40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:8%;
    padding-bottom:8%;
    text-align: center;
        
/*    align-items: center;*/
}

.reviews-image{
/*    width: 300px;*/
/*    height: 95px;*/
    width:60%;
    height:auto;
}

.div-text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:45%;
}
.reviews-header{
    color:black;
}

.reviews-text{
    width:70%;
    font-size: 1.3em;
    line-height: 45px;
}

.reviewer{
    width:100%;
    font-size: 41px;
    line-height: 45px;
    margin:1em auto;
}

.book{
    background-image: linear-gradient(-13deg, rgba(12, 52, 53, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 5em;
    flex-wrap: wrap;
}

.book-image-bg{
    position: absolute;
    left: -1%;
    z-index: -1;
}

.book-images{
    width:30%;
    display: flex;
    margin-left: 12%;
/*    position: absolute;*/
/*    left:-4%;*/
}

.book-image-each{
    
}

.book-right-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:55%;
}

.book-header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.book-header>span{
    width:100%;
    text-align:center;
}

.divider-book{
    width: 51%;
}

.book-text{
    width:50%;
    text-align: center;
}

.form-wrapp-each{
    display: flex;
    flex-wrap: wrap;
    width:200px;
}

.form-descr{
    color:var(--color-red);
    width: 100%;
    padding-bottom: .5em;
    padding-top: .5em;
}

.input{
    width:100%;
    height:36px;
}

input[type="submit"]{
    width:200px;
    height:50px;
    outline: none;
    background-color: var(--color-red);
    margin-top:33px;
    font-family: var(--font);
    color:white;
    font-size:16px;
}

form{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

.submit-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(images/book/icon.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-clear-button{
    display: none;
    -webkit-appearance: none;
}

footer{
    width:100%;
}

.footer-wrapp{
    width:100%;
/*    height:322px;*/
    padding-top: 2%;
    background-color: #1b203c;
}

.phone-block{
    width:20%;
/*    height:100%;*/
}

.central-block{
    width:40%;
/*    height:100%;*/
}

.adress-block{
    width:20%;
/*    height:100%;*/
}

.phone-block,
.central-block,
.adress-block,
.footer-wrapp{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
}

.footer-logo{
    padding:0 50%;
}

.phone-image,
.point{
    padding:1em 50%;
}

.phone,
.adress{
    color:white;
    width:100%;
    text-align: center;
    text-decoration: none;
}

.social-networks{
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 4% 25%;
}

.social-network{
    width: 32px;
    height: 32px;
    border-radius:50%;
}

.instagram{
    background-image: url(images/footer/instagram.png);
}

.instagram:hover,
.facebook:hover,
.whatsapp:hover{
/*    background-image: url(images/footer/instagram-hover.png);
    */
    background-color: #ffffff4d;
}

.facebook{
    background-image: url(images/footer/facebook.png);
}

{
    background-image: url(images/footer/facebook-hover.png);
}

.whatsapp{
    background-image: url(images/footer/whatsapp.png);
}

{
    background-image: url(images/footer/whatsapp-hover.png);
}

.creater{
    font-size: 9px;
    color:white;
}
.creater-logo{
    height:1em;
}

@media screen and (max-width: 1350px){
    .book-images{
        width:100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 770px){
    .logo {
        width: 10%;
        object-fit: contain;
    }
    
    .header-logo{
        margin-top:-1em;
    }
    
    .header-navigation{
        width: 85%;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .header-navigation-item{
        margin: 0 1em;
    }
    
    .slider-wrapp{
        width:70%;
    }
    
    .about-wrapp{
        opacity: .1;
    }
    
    .item-name{
        width:auto;
    }
    
    .special{
        width:auto;
    }
    
    .item-price{
        margin-right: 5%;
    }
    .overlay{
        width:70%;
    }
    
    .reviews-wrapp{
        width:70%;
    }
    
    .book-image-each {
        width: 45%;
        object-fit: contain;
    }
    
    .book-right-block{
        width:100%;
    }
    
    .book-header>span{
        margin-top:1em;
    }
    
    .book-text {
        width: 90%;
    }
    
    form{
        width: 80%;
    }
    
    .category{
        width:100%;
        padding-left: 0;
    }
    
    .slider-text{
        font-size: 50px;
    }
    
    .footer-logo{
        width:50%;
    }
}

@media screen and (max-width:685px){
    
    .ingridients{
        display:block;
    }
    
    .ingridients-left-image{
        height:auto;
        min-height:300px;
        width:100%;
    }
    
    .ingridients-descr{
        width:100%;
    }
    
    .menu-bg{
        width:70%;
    }
}

@media screen and (max-width:425px){
    .phone,
    .adress{
        font-size: 10px;
    }
    
    .header-navigation-item{
        text-shadow: 1px 1px 10px #111527;
    }
}